<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <button onclick="window.location.href='/';">Home</button>

</head>
<body>
     <h1>Role:Admin</h1>
<div>
    <h2>M Nithin Shetty</h2>
    <h5>Admin of SPARK</h5>
</div>
<div>
    <input type="button" value="All Projects">
    <input type="button" value="All Guides">
    <input type="button" value="All Students">
</div>
<div>
    <input type="button" value="+ Add New Guide" onclick="window.location.href='/admin/add_guide';">
    <input type="button" value="+ Add New Students" onclick="window.location.href='/admin/add_students';">
</div>
<div>
    <input type="text">
    <input type="button" value="Search">
    <label for=""> &nbsp; Filter By Department</label>
    <select name="department" id="">
        <option value="All" id="pname">All</option>
        <option value="" id="gname"></option>
    </select>
    <table border="2">
        <tr>
            <th>Project ID</th>
            <th>Project Name</th>
            <th>Guide Name</th>
            <th>Department</th>
            <th>Date</th>
            <th>View/Download</th>
        </tr>
        {% for p in projects %}
        <tr>
        <td>{{p.id}}</td>
        <td>{{p.name}}</td>
        <td>{{p.guide.name}}</td>
        <td>{{p.guide.department}}</td>
        <td>{{p.submission_date}}</td>
        <td><a href="/download/{{p.stored_name}}">download</a></td>
        </tr>
        {% endfor %}
    </table>
</div>
<div>
     <input type="text">
    <input type="button" value="Search">
    <label for=""> &nbsp; Filter By Department</label>
    <select name="department" id="">
        <option value="All" id="pname">All</option>
        <option value="" id="gname"></option>
    </select>
    <table border="2">
        <tr>
            <th>Guide ID</th>
            <th>Guide Name</th>
            <th>Guide E-mail</th>
            <th>Password</th>
            <th>Department</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
         {% for g in guides %}
        <tr>
            <td>{{ g.id }}</td><td>{{ g.name }}</td>
            <td>{{ g.email }}</td>
            <td>{{ g.password }}</td>
            <td>{{ g.department }}</td>
            <td>{{ "Active" if g.is_active else "Inactive" }}</td>
            <td><a href="/admin/toggle_guide/{{ g.id }}">Toggle Status</a></td>
        </tr>
        {% endfor %}
    </table>
</div>
<div>
     <input type="text">
    <input type="button" value="Search">
    <label for=""> &nbsp; Filter By Department</label>
    <select name="department" id="">
        <option value="All" id="pname">All</option>
        <option value="" id="gname"></option>
    </select>
    <table border="2">
        <tr>
            <th>Roll No</th>
            <th>Name</th>
            <th>E-mail</th>
            <th>Course</th>
            <th>Batch</th>
            <th>Password</th>
        </tr>
        {% for s in students %}
        <tr>
            <td>{{s.roll_no}}</td>
            <td>{{s.name}}</td>
            <td>{{s.email}}</td>
            <td>{{s.course}}</td>
            <td>{{s.batch}}</td>
            <td>{{s.password}}</td>
        </tr>
        {% endfor %}
    </table>
</div>
</body>
</html>