<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Students</title>
</head>
<body>
    <div>
        <h3>Add New Students list using csv file</h3>
    <form action="">
        <table border="2">
            <h4>FORMAT</h4>
            <tr>
                <th>RollNo</th>
                <th>Name</th>
                <th>Course</th>
                <th>Batch</th>
                <th>E-mail</th>
                <th>Password</th>

            </tr>
        </table>
        <input type="file" name="file" id="">
        <input type="button" value="Add Students">
    </form>
    </div>
</body>
</html>