<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guide Dashboard</title>
</head>
<body>
    <h3>Role: Guide</h3>
    <div>
        <h2>M Nithin Shetty</h2>
        <h5>Department of </h5>
    </div>
    <div>
    <h3>Status:Active</h3>
    <input type="button" value="+ Upload New Project" onclick="window.location.href='/guide/new_project/{{g}}';">
    <!-- <input type="button" value="+ Upload New Student Details" onclick="window.location.href='bulk_students.html'"> -->
    </div>
    <div>
    <input type="text">
    <input type="button" value="Search">
    <table border="2">
        <tr>
            <th>Project ID</th>
            <th>Project Name</th>
            <!-- <th>Guide Name</th> -->
            <!-- <th>Department</th> -->
            <th>Date</th>
            <th>Remove Project</th>
        </tr>
        {% for p in guide.projects %}
        <td>{{p.id}}</td>
        <td>{{p.name}}</td>
        <td>{{p.submission_date}}</td>
        <td><a href="/delete_project/{{p.id}}" onclick="return confirm('Are you sure? This will delete the project, the file, and all registered students!');">Remove</a></td>
        {% endfor %}
    </table>
    </div>
</body>
</html>