<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SPARK-Login</title>
</head>
<body>
    <a href="home.html"><- Back to Home</a>
    <form action="">
        <label for="role">Login as</label><br>
            <select name="role" id="" Select your role...>
                <option value="" disabled selected hidden>Select your role...</option>
                <option value="student">Student</option>
                <option value="guide">Guide</option>
                <option value="admin">Admin</option>
            </select><br>
        <label for="mail">E-mail Address</label><br>
        <input type="email" placeholder="@sdmcujire.in" name="mail"><br>
        <label for="pass">Password</label><br>
        <input type="password" name="pass" placeholder="Enter PassWord" ><br>
        <input type="submit" value="LOGIN" name="submit">
        <h4>New user?<a href="">Sign In</a></h4>
    </form>
</body>
</html>