<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Project</title>
</head>
<body>
    <h2>Upload new Project</h2>
    <div>
        <form action="" method="post">
            <label for="">Project Name</label>
            <input type="text">&nbsp;&nbsp;
            <input type="file" name="newfile" id="">
            <div>
                <label for="">Students</label>
                <label for="">Roll-No</label>
                <input type="text">
                <label for="">Name</label>
                <input type="text">
                <label for="">Course</label>
                <select name="Course" id="">
                    <option value="">BCA</option>
                    <option value="">BBA</option>
                    <option value="">Bcom</option>
                    <option value="">BSc</option>
                    <option value="">BA</option>
                    <option value="">BEd</option>
                    <option value="">BVoc</option>
                </select>
                <label for="">Section</label>
                <select name="Section" id="">
                    <option value="">A</option>
                    <option value="">B</option>
                    <option value="">C</option>
                    <option value="">D</option>
                </select>
            </div>
            <label for="">Date of Submission</label>
            <input type="date" name="dateofsub" id="">
        </form>
    </div>
</body>
</html>