<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Guide</title>
</head>
<body>
    <h3>New Guide</h3>
    <form action="">
        <label for="">Guide Name</label>
        <input type="text" name="" id="">
        <label for="">E-Mail</label>
        <input type="email" name="mail" id="">
        <label for="">Give New Password</label>
        <input type="password" name="" id="">
        <label for="">Department</label>
        <select name="dept" id="">
            <option value=""></option>
        </select>
        <label for="">Status</label>
        <select name="" id="">
            <option value="">Active</option>
            <option value="">Inactive</option>
        </select>
        <input type="submit" value="Add">
    </form>
</body>
</html>