<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Dashboard</title>
</head>
<body>
    <h1>Role:Student</h1>
<div>
    <h2>M Nithin Shetty</h2>
    <h5>230841</h5>
</div>
<div>
    <input type="button" value="All Projects">
    <input type="button" value="All Guides">
</div>
<div>
    <input type="text">
    <input type="button" value="Search">
    <label for=""> &nbsp; Filter By Department</label>
    <select name="department" id="">
        <option value="All" id="pname">All</option>
        <option value="" id="gname"></option>
    </select>
    <table border="2">
        <tr>
            <th>Project ID</th>
            <th>Project Name</th>
            <th>Guide Name</th>
            <th>Department</th>
            <th>Date</th>
            <th>View/Download</th>
        </tr>
    </table>
</div>
<div>
    <input type="text">
    <input type="button" value="Search">
    <label for=""> &nbsp; Filter By Department</label>
    <select name="department" id="">
        <option value="All" id="pname">All</option>
        <option value="" id="gname"></option>
    </select>
    <table border="2">
        <tr>
            <th>Guide ID</th>
            <th>Guide Name</th>
            <th>Department</th>
            <th>Status</th>
            <th>Total Projects</th>
        </tr>
    </table>
</div>
</body>
</html>